<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                <h4>Nazwa pola</h4>
            </div>
            <div class="col">
                <h4>Typ</h4>
            </div>
            <div class="col">
                <h4>Usuń</h4>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa">
            </div>
            <div class="col">
                <select id="inputState" class="form-control">
                    <option selected>Imię</option>
                    <option>Nazwisko</option>
                    <option>numer</option>
                </select>
            </div>
            <div class="col">
                <div class="close">
                    <a type="button" class="deleteButton"><i class="fa fa-times"></i></a>

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa">
            </div>
            <div class="col">
                <select id="inputState" class="form-control">
                    <option selected>Imię</option>
                    <option>Nazwisko</option>
                    <option>numer</option>
                </select>
            </div>
            <div class="col">
                <div class="close">
                    <a type="button" class="deleteButton"><i class="fa fa-times"></i></a>

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa">
            </div>
            <div class="col">
                <select id="inputState" class="form-control">
                    <option selected>Imię</option>
                    <option>Nazwisko</option>
                    <option>numer</option>
                </select>
            </div>
            <div class="col">
                <div class="close">
                    <a type="button" class="deleteButton"><i class="fa fa-times"></i></a>

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nazwa">
            </div>
            <div class="col">
                <select id="inputState" class="form-control">
                    <option selected>Imię</option>
                    <option>Nazwisko</option>
                    <option>numer</option>
                </select>
            </div>
            <div class="col">
                <div class="close">
                    <a type="button" class="deleteButton"><i class="fa fa-times"></i></a>

                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="addFieldButton">
                <button type="button" class="btn btn-secondary">Dodaj pole</button>
            </div>
        </div>
    </form>

    <hr>

    <form>
        <div class="form-row">
            <label for="records" class="col-sm-2 col-form-label">Ilość rekordów:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" value="10" id="records" min="1" max="15000000">
            </div>
        </div>
    </form>

    <hr>

    <form>
        <div class="form-row">
            <div class="generateDataButton">
                <button type="button" class="btn btn-success">Wygeneruj plik</button>
            </div>
        </div>
    </form>
</div>