<div class="container">
    <form>
        <div class="form-row" >
            <div *ngIf="show" class="alert alert-danger" style="width: 100%;" role="alert">
                Wypełnij wszystkie pola
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <h4>Nazwa pola</h4>
            </div>
            <div class="col">
                <h4>Typ</h4>
            </div>
            <div class="col">
                <h4>Usuń</h4>
            </div>
        </div>



        <div class="form-row" *ngFor="let item of arrayOfFields; let i = index">
            <div class="col">
                <input required type="text" [(ngModel)]="item.inputField" name="inp_{{i}}" class="form-control"
                    placeholder="Nazwa">
            </div>
            <div class="col">
                <select [(ngModel)]="item.selectOption" name="sel_{{i}}" class="form-control">
                    <option *ngFor="let opt of options">{{opt}}</option>
                </select>
            </div>
            <div class="col">
                <div class="close">
                    <a type="button" (click)="deleteField(item)" class="deleteButton"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="addFieldButton">
                <button type="button" (click)="addField()" class="btn btn-secondary">Dodaj pole</button>
            </div>
        </div>


        <hr>


        <div class="form-row">
            <label for="records" class="col-sm-2 col-form-label">Ilość rekordów:</label>
            <div class="col-sm-3">
                <input #numberInput type="number" class="form-control" value="10" id="records" min="1" max="15000000">
            </div>
        </div>


        <hr>

        <div class="form-row">
            <div class="generateDataButton">
                <button type="button" (click)="generateFile(numberInput.value)" routerLink="/generator"
                    class="btn btn-success">Wygeneruj plik</button>
            </div>
        </div>
    </form>
</div>